/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.imgur.com/PnWsJmA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  font-style: italic;
  text-align: center;

  text-transform: capitalize;
  color: white;
}
.container {
  display: flex;
  justify-content: flex-end;
}
.container div {
  width: 35%;
  border-radius: 0.3rem;
  padding: 1rem;
}
.container div input {
  width: 100%;
  border: 1px solid gray;
  border-radius: 1.5em;
  outline: none;
  margin: 0.5rem 0;
  padding: 1rem;
}
button {
  width: 100%;
  font-weight: 600;
  font-size: 1.3rem;
  font-family: "Pacifico", cursive;

  text-transform: capitalize;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  background-color: rgb(134, 170, 238);
  padding: 0.5rem;
}

/* media queries */

@media screen and (max-width: 768px) {
  .home {
    background-image: url("https://i.imgur.com/PnWsJmA.png");
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container div {
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.5rem;
  }

  h1 {
    padding: 3rem 0;
  }
}
