/** @format */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Open+Sans:wght@400;500;600&family=Pacifico&family=Poppins:ital,wght@0,200;1,100&display=swap");

.App {
  height: 100vh;
  background-color: white;
  font-family: "Pacifico", cursive;
  background-image: url("https://i.imgur.com/PnWsJmA.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
